/node_modules/.bin
/node_modules/@adobe/css-tools/dist/umd
/node_modules/@adobe/css-tools
/node_modules/@asamuzakjp/css-color/dist/esm
/node_modules/@asamuzakjp/css-color/dist/browser
/node_modules/@asamuzakjp/css-color/dist/cjs
/node_modules/@asamuzakjp/css-color
/node_modules/@babel/code-frame/lib
/node_modules/@babel/code-frame
/node_modules/@babel
/node_modules/@csstools
/node_modules
