<header class="fixed dark dynamic">
        <div class="container">
            <a class="logo"><img alt=""></a>
            <div class="dynamic-nav" id="dynamic-nav">
                <div class="dynamic-nav-container">
                    <nav>
                        <a class="js-menu-toggle menu-button">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="toggle-text"></span>
                        </a>
                        <ul id="dynamic-menu">
                            <li class="dynamic-menu-item"><a></a></li>
                            <li class="dynamic-menu-item"><a></a></li>
                            <li class="dynamic-menu-item"><a></a></li>
                            <li class="dynamic-menu-item"><a></a></li>
                            <li class="li-overlay hidden" id="dynamic-menu-more-item">
                                <a id="dynamic-menu-more"><i class="bar"></i> <span id="more-toggle-text"></span></a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="sub-nav">
                        <li class="auth-link"><a data-toggle="auth-state" data-activeview="1"></a><a data-toggle="auth-state" data-role="primary" data-context="parent" data-menu='{"background": "#4c8690", "color": "#fff"}'></a><div class="si-profile-dropdown"><span><a role="button" title="" data-url="" data-evt="saved_listings" class="js-lm-btn"><i class="fa fa-heart fa-fw"></i><span class="js-lead-listings"></span></a></span><span><a role="button" title="" data-url="" data-evt="saved_searches" class="js-lm-btn"><i class="fa fa-search fa-fw"></i><span class="js-lead-searches"></span></a></span><span><a role="button" title="" data-url="" data-evt="property_tracker" class="js-lm-btn"><i class="fa fa-list fa-fw"></i></a></span><span><a class="js-lm-sign-out"><i class="fa fa-sign-out fa-fw"></i></a></span></div></li>
                        <li class="blog-link"><a></a></li>
                        <li class="phone-link"><a class="si-phone-link has-icon" rel="nofollow" aria-label="" data-uw-rm-vglnk="" uw-rm-vague-link-id=""></a></li>
                        <li class="lang notranslate"><a class="js-lang" title="" role="button" id="changeLanguageButton" aria-label="" aria-haspopup="true" aria-expanded="false"><i class="flag en"></i><i class="fa fa-angle-down"></i></a>
                            <ul class="lang-list" aria-labelledby="changeLanguageButton">
                                <li><a role="link" tabindex="0" data-lang="en" title=""><i class="flag en"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="zh-CN" title=""><i class="flag zh-CN"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="fr" title=""><i class="flag fr"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="ko" title=""><i class="flag ko"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="it" title=""><i class="flag it"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="ja" title=""><i class="flag ja"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="de" title=""><i class="flag de"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="pt" title=""><i class="flag pt"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="ru" title=""><i class="flag ru"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="es" title=""><i class="flag es"></i></a></li>
                                <li><a role="link" tabindex="0" data-lang="vi" title=""><i class="flag vi"></i></a></li>
                                <li class="empty" aria-hidden="true"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>