<div class="max-w-2xl mx-auto bg-neutral-100 rounded-tl-lg rounded-tr-lg pt-8 mt-6">
<h2 class="text-center">Have Questions About %Page Title% You'd Like Answered?</h2>
<p>Whether your plans to buy or sell are immediate or still a few years away, we encourage you to reach out to discuss your real estate objectives. As trusted advisors specializing in Panama City Beach to 30A, we are committed to providing clear guidance, market expertise, and reliable answers to your questions as you evaluate opportunities from a distance.</p>
</div>