<div class="mx-auto max-w-4xl rounded-tl-lg rounded-tr-lg bg-neutral-100 pt-4 pr-8 pl-8">
  <h3 class="p-5 text-center">
    Have Questions About <span data-mce-mark="1">%Page Title%</span><br />
    You'd Like Answered?
  </h3>
  <p style="margin-bottom: 0;">Whether you&rsquo;re planning to buy or sell now or years from today, we welcome the opportunity to discuss your real estate goals. As trusted advisors serving 30A and the Emerald Coast, we deliver clear guidance, in-depth market expertise, and dependable answers to help you evaluate opportunities with confidence&mdash;even from a distance.</p>
</div>
