<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
    <h2 class="text-4xl font-semibold tracking-tight text-neutral-900 sm:text-5xl">Frequently asked questions</h2>
    <p class="mt-6 max-w-2xl text-base/7 text-neutral-600">Have a different question and can’t find the answer you’re looking for? Reach out to our support team by <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">sending us an email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-20">
      <div class="grid grid-cols-2 gap-10">
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">What's the best thing about Switzerland?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">How do you make holy water?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">Why do you never see elephants hiding in trees?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">Because they're so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">What do you call someone with no body and no nose?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">Why can't you hear a pterodactyl go to the bathroom?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">Because the pee is silent. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">Why did the invisible man turn down the job offer?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">He couldn't see himself doing it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
      </div>
    </div>
  </div>
</div>