<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
    <h2 class="text-4xl font-semibold tracking-tight text-neutral-900 sm:text-5xl">Frequently asked questions</h2>
    <p class="mt-6 max-w-2xl text-base/7 text-neutral-600">Have a different question and can’t find the answer you’re looking for? Reach out to our support team by <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">sending us an email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-20">
      <div class="grid grid-cols-2 gap-10">
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">What's the best thing about Switzerland?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">How do you make holy water?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">Why do you never see elephants hiding in trees?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">Because they're so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">What do you call someone with no body and no nose?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">Why can't you hear a pterodactyl go to the bathroom?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">Because the pee is silent. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="text-2xl font-bold text-neutral-900 leading-8">Why did the invisible man turn down the job offer?</div>
          <div class="text-base text-neutral-600 leading-6 ml-6">He couldn't see himself doing it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
    <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Frequently asked questions</h2>
    <p class="mt-6 max-w-2xl text-base/7 text-gray-600">Have a different question and can’t find the answer you’re looking for? Reach out to our support team by <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">sending us an email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-20">
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:space-y-0 sm:gap-x-6 sm:gap-y-16 lg:gap-x-10">
        <dt class="text-base/7 font-semibold text-gray-900">What&#039;s the best thing about Switzerland?</dt>
        <dd class="mt-2 text-base/7 text-gray-600">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        <dt class="text-base/7 font-semibold text-gray-900">How do you make holy water?</dt>
        <dd class="mt-2 text-base/7 text-gray-600">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        <dt class="text-base/7 font-semibold text-gray-900">Why do you never see elephants hiding in trees?</dt>
        <dd class="mt-2 text-base/7 text-gray-600">Because they&#039;re so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        <dt class="text-base/7 font-semibold text-gray-900">What do you call someone with no body and no nose?</dt>
        <dd class="mt-2 text-base/7 text-gray-600">Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        <dt class="text-base/7 font-semibold text-gray-900">Why can&#039;t you hear a pterodactyl go to the bathroom?</dt>
        <dd class="mt-2 text-base/7 text-gray-600">Because the pee is silent. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        <dt class="text-base/7 font-semibold text-gray-900">Why did the invisible man turn down the job offer?</dt>
        <dd class="mt-2 text-base/7 text-gray-600">He couldn&#039;t see himself doing it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
      </dl>
    </div>
  </div>
</div>