<section>
  <div class="container mx-auto flex flex-col-reverse px-5 mt-4 md:mt-9 mb-4 md:flex-row">
    <div class="mb-16 flex flex-col md:mb-0 md:w-1/2 md:items-start md:pr-16 md:text-left lg:flex-grow lg:pr-24">
      <h1>Explore beautiful <span>%Page Title%</span> homes for sale in Panama City Beach, FL.</h1>
      <div class="flex justify-center gap-4">
        <button type="button" class="btn-custom js-new-listing-alerts" ssid="6886325">Get Alerts!</button>
        <button type="button" class="btn-custom">Click Me</button>
      </div>
    </div>
    <div class="hero-image flex w-full items-center justify-center md:w-1/2 md:items-start md:justify-start lg:w-full lg:max-w-lg">
      <img class="rounded object-cover object-center aspect-[10/6]" alt="hero" src="https://res.cloudinary.com/diovgtpmh/image/upload/e_art:fes,ar_10:6,c_fill,dpr_auto,f_avif,w_auto,q_auto:good/v1754660673/30A/Watersound_Origins_Hero.webp" width="3780" height="2268" loading="eager" fetchpriority="high" />
    </div>
  </div>
</section>
