<section>
  <div class="container mx-auto mt-4 mb-4 flex flex-col-reverse px-5 md:mt-9 md:flex-row">
    <div class="flex flex-col md:mb-0 md:w-1/2 md:items-start md:pr-16 md:text-left lg:flex-grow lg:pr-24">
      <h1>Explore beautiful <span>Rivercamps on Crooked Creek</span> homes for sale in Panama City Beach, FL.</h1>
      <div class="flex justify-center gap-4"><button type="button" class="btn-custom js-new-listing-alerts" ssid="6886325">Get Alerts!</button></div>
    </div>
    <div class="hero-image relative flex w-full items-center justify-center md:w-1/2 md:items-start md:justify-start lg:w-full lg:max-w-lg">
      <img class="aspect-[10/6] rounded object-cover object-center" alt="hero" src="https://res.cloudinary.com/diovgtpmh/image/upload/ar_10:6,c_fill,dpr_auto,f_avif,w_auto,q_auto:good/v1755722540/Rivercamp/Rivercamp-Hero.webp" width="512" height="307" loading="eager" fetchpriority="high" />
      <img src="https://res.cloudinary.com/diovgtpmh/image/upload/f_auto,q_auto,dpr_auto,w_150/v1681821083/Logos/TS_Logo.png" alt="True South Logo" class="hero-logo absolute right-5 bottom-5 w-[150px] md:right-3 md:bottom-3 md:w-[120px]" />
    </div>
  </div>
</section>
<blockquote>Which Margaritaville is right for you? <span>Margaritaville Beach Cottage Resort</span> features all-ages, vacation rental-ready cottages with amenities like a 425-foot lazy river and exclusive beach access&mdash;perfect for investment opportunities. <span>Latitude Margaritaville Watersound</span> is a 55+ active adult community north of Highway 98, designed for permanent or seasonal living with a focus on lifestyle and neighbor connections, not rentals.</blockquote>


