<div id="insight" class="mb-24 flex flex-wrap rounded-lg border border-neutral-300">
  <h2 class="w-full pr-6 pl-6 text-center">Insight on %Page Title% Homes</h2>
  <div class="w-full pr-6 pb-24 pl-12 sm:w-1/2 sm:pb-6 md:pb-12 lg:w-1/4 lg:pb-24">
    <h3 class="mb-4 text-center text-sm font-medium tracking-widest text-neutral-900 sm:text-left">Features</h3>
    <nav class="-mb-1 flex flex-col space-y-2.5 text-center sm:items-start sm:text-left">
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>RiverCamps on Crooked Creek amenities include gated 1,500-acre land with bay views.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>RiverHouse has pool, pavilion, library, kitchen for resident events.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Seven miles of interconnected trails and boardwalks.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Waterside campsite with tents, fire pit, bathhouse.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Boat storage supports waterfront lifestyle.</span>
      </div>
    </nav>
  </div>
  <div class="w-full pr-6 pb-24 pl-6 sm:w-1/2 sm:pb-6 md:pb-12 lg:w-1/4 lg:pb-24">
    <h3 class="mb-4 text-center text-sm font-medium tracking-widest text-neutral-900 sm:text-left">Recreation</h3>
    <nav class="-mb-1 flex flex-col space-y-2.5 text-center sm:items-start sm:text-left">
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Boat ramp launches boats, kayaks, canoes, paddleboards to West Bay.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Hiking, biking, running, walking on seven mi trails with 100+ bird species.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Fishing, crabbing, sailing in three surrounding waters.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Hot tub and event spaces at RiverHouse.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Pickleball courts at community for residents.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Tee off at Watersound Club&rsquo;s Shark&rsquo;s Tooth and Camp Creek courses.</span>
      </div>
    </nav>
  </div>
  <div class="w-full pr-6 pb-24 pl-6 sm:w-1/2 sm:pb-6 md:pb-12 lg:w-1/4 lg:pb-24">
    <h3 class="mb-4 text-center text-sm font-medium tracking-widest text-neutral-900 sm:text-left">Conveniences</h3>
    <nav class="-mb-1 flex flex-col space-y-2.5 text-center sm:items-start sm:text-left">
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Publix at Breakfast Point, approx 10 mi.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Andy's Hangout, popular for breakfast and coffee.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>David's Cafe, popular for key lime sno-balls.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Nearby Pier Park offers open-air shopping, dining, 120 stores, movie theater.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Walmart and Target at Pier Park, approx 10 mi.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>New TMH health campus, 10 mi away, serves Florida Panhandle.</span>
      </div>
    </nav>
  </div>
  <div class="w-full pr-12 pb-24 pl-6 sm:w-1/2 sm:pb-6 md:pb-12 lg:w-1/4 lg:pb-24">
    <h3 class="mb-4 text-center text-sm font-medium tracking-widest text-neutral-900 sm:text-left">Location</h3>
    <nav class="-mb-1 flex flex-col space-y-2.5 text-center sm:items-start sm:text-left">
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Drive to Panama City approx 25 min; Destin approx 50 min.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>10 min to Northwest Florida Beaches International Airport (ECP).</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Connectivity via Hwy 388, US-98, and 30A.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Distance to public beach access approx 11 mi.</span>
      </div>
      <div class="flex w-full items-start">
        <span class="bg-primary-100 text-primary-600 mt-1 mr-2 flex h-3 w-3 flex-shrink-0 items-center justify-center rounded-full">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" style="width: 1rem; height: 1rem;" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg>
        </span>
        <span>Bordered by Intracoastal Waterway, Crooked Creek, West Bay.</span>
      </div>
    </nav>
  </div>
</div>
