<section class="body-font text-gray-600">
  <div class="container mx-auto px-5 py-24">
    <div class="mb-20 text-center">
      <h1 class="title-font mb-4 text-center text-2xl font-medium text-gray-900 sm:text-3xl">Raw Denim Heirloom Man Braid</h1>
      <p class="mx-auto text-base leading-relaxed lg:w-3/4 xl:w-2/4">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
    </div>
    <div class="-m-4 flex flex-wrap">
      <div class="w-full p-4 sm:w-1/2 lg:w-1/4">
        <h2 class="title-font mb-4 text-center text-sm font-medium tracking-widest text-gray-900 sm:text-left">SHOOTING STARS</h2>
        <nav class="-mb-1 flex flex-col items-center space-y-2.5 text-center sm:items-start sm:text-left" style="display: grid;">
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >First Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Second Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Third Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fourth Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fifth Link
          </a>
        </nav>
      </div>
      <div class="w-full p-4 sm:w-1/2 lg:w-1/4">
        <h2 class="title-font mb-4 text-center text-sm font-medium tracking-widest text-gray-900 sm:text-left">THE 400 BLOWS</h2>
        <nav class="-mb-1 flex flex-col items-center space-y-2.5 text-center sm:items-start sm:text-left" style="display: grid;">
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >First Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Second Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Third Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fourth Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fifth Link
          </a>
        </nav>
      </div>
      <div class="w-full p-4 sm:w-1/2 lg:w-1/4">
        <h2 class="title-font mb-4 text-center text-sm font-medium tracking-widest text-gray-900 sm:text-left">THE CATALYZER</h2>
        <nav class="-mb-1 flex flex-col items-center space-y-2.5 text-center sm:items-start sm:text-left" style="display: grid;">
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >First Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Second Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Third Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fourth Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fifth Link
          </a>
        </nav>
      </div>
      <div class="w-full p-4 sm:w-1/2 lg:w-1/4">
        <h2 class="title-font mb-4 text-center text-sm font-medium tracking-widest text-gray-900 sm:text-left">NEPTUNE</h2>
        <nav class="-mb-1 flex flex-col items-center space-y-2.5 text-center sm:items-start sm:text-left" style="display: grid;">
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >First Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Second Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Third Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fourth Link
          </a>
          <a>
            <span class="mr-2 inline-flex h-4 w-4 items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="h-3 w-3" viewbox="0 0 24 24"><path d="M20 6L9 17l-5-5"></path></svg> </span
            >Fifth Link
          </a>
        </nav>
      </div>
    </div>
  </div>
</section>
