<div class="si-container si-property-stats">
              <div class="si-row">
                <div class="si-property-stats__title">
                  <span class="si-property-stats__title-main">Active Listings </span><span class="si-property-stats__title-date">July 28, 2025</span>
                </div>
                <div class="si-property-stats__item">
                  <div class="si-property-stats__item-value">92</div>
                  <div class="si-property-stats__item-label">Listed</div>
                </div>
                <div class="si-property-stats__item">
                  <div class="si-property-stats__item-value">109</div>
                  <div class="si-property-stats__item-label">Avg. DOM</div>
                </div>
                <div class="si-property-stats__item">
                  <div class="si-property-stats__item-value" data-uw-rm-sr="">$462.12</div>
                  <div class="si-property-stats__item-label" data-uw-rm-sr="">Avg. $ / Sq.Ft.</div>
                </div>
                <div class="si-property-stats__item">
                  <div class="si-property-stats__item-value" data-uw-rm-sr="">$952,000</div>
                  <div class="si-property-stats__item-label">Med. List Price</div>
                </div>
              </div>
            </div>