/* assets/css/custom.css */
/* Description: Minimal custom styles for Sierra Interactive pages */
/* Author: John Bauman */
/* Date: August 04, 2025 */

/* Section 1: Imports and References */
@import "tailwindcss";
@reference "tailwindcss";

/* Section 2: Sierra Customization */
.blog-link {
  display: none !important;
}

.top-strip {
  display: none;
}

.si-content-label__body {
  background-color: inherit;
  border: 1px solid var(--color-neutral-200);
}

/* Active Listings & Active Listings By Price */
.si-container.si-content-label.si-content-label--price-range.js-lw-price-ranges .si-content-label__title {
  border-left: 1px solid var(--color-neutral-200);
  border-right: 1px solid var(--color-neutral-200);
  border-top: 1px solid var(--color-neutral-200);
  padding: 6px 10px;
  margin: 0;
  background-color: var(--color-neutral-100);
  @apply text-sm sm:text-base md:text-lg font-body font-normal leading-relaxed text-neutral-500;
}

/* Section 3: Font Customization */
.main-content .si-content-area h1 {
  @apply text-3xl sm:text-4xl md:text-5xl font-heading font-bold mb-5 text-neutral-700 leading-tight;
}

.main-content .si-content-area h2, .si-videos-widget>h2, h2 {
  @apply text-2xl sm:text-3xl md:text-4xl font-heading font-bold mb-4 text-neutral-700 leading-tight;
}

html {
    font-size: 100%; /* Resets to browser default of 16px */
}

/* Hamburger Menu Reordering */
@media (max-width: 767px) {
  .more-menu-overlay .row {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 5px;
  }
  .more-menu-overlay .row > .col-sm-6 {
    display: contents;
  }
  .more-menu-overlay ul.link-list {
    display: contents;
  }
  .more-menu-overlay ul.link-list li:has(a[href="/"]) {
    display: none;
  }
  .more-menu-overlay ul.link-list li:has(a[href="/home-search-menu/"]) {
    order: 1;
  }
  .more-menu-overlay ul.link-list li:has(a[href="/condo-search-menu/"]) {
    order: 2;
  }
  .more-menu-overlay ul.link-list li:has(a[href="/blog/"]) {
    order: 3;
  }
  .more-menu-overlay ul.link-list li:has(a[href="/resources-menu/"]) {
    order: 4;
  }
  .more-menu-overlay ul.link-list li:has(a[href="/our-team/"]) {
    order: 5;
  }
  .blogs .item .img img {
    width: 345px;
  }
}

/* Layout Utilities */
@media screen and (min-width: 768px) {
  .blogs .row {
    display: flex;
    flex-wrap: wrap;
  }

  .blogs .row .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}